<a href="">
<div class="show w3-display-container">
  <div class="slide">
    <img class="mySlides w3-round" src="2.jpg" alt="Image not found">
    <img class="mySlides w3-round" src="3.jpg" alt="Image not found">
    <img class="mySlides w3-round" src="4.jpg" alt="Image not found">
  </div>
  <div class="overlay">
    <div class="textslide1"><b>Galerie</b></div>
  </div>
</div>
</a>

<script src="slider.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
