<a href="">
<div class="show w3-display-container">
  <div class="slide">
    <img class="mySlides w3-round" src="assets/images/2.jpg" alt="Image not found">
    <img class="mySlides w3-round" src="assets/images/3.jpg" alt="Image not found">
    <img class="mySlides w3-round" src="assets/images/4.jpg" alt="Image not found">
  </div>
  <div class="overlay">
    <div class="textslide1">Galerie</div>
  </div>
</div>
</a>

<script type="text/javascript" src="slider.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
